
body {
	width: 800px;
	margin: 1em auto;
	font-family: "Nimbus Sans L", sans-serif;
}

header.dialog-info {
	color: #0f0;
}

header.dialog-error {
	color: #f00;
}

a {
	color: #07d;
	text-decoration: none;
}

a:hover {
	color: #05b;
	text-decoration: underline;
}


nav {
	border-bottom: 3px solid #ddd;
}

nav a {
	padding: 0.5em;
	display: inline-block;
	color: #888;
	text-decoration: none;
}

nav a:hover {
	/*color: #666;
	background-color: #eee;*/
	text-decoration: none;	
}



.entry {
	border: 1px solid #ddd;
	border-radius: 5px;

	background-color: #fff;

	margin: 2em 0;
}

.entry--section {
	padding: 0.5em 1em;
}

.entry--section:not(:last-child) {
	border-bottom: 1px solid #ddd;
}

.entry--parent {
	background-color: #efeff8;
}

.entry--content {
	font-size: 1.5em;
}

.entry--permalink {
	color: #999;
	font-size: 0.9em;
}

.entry--permalink:hover {
	color: #777;
}

.entry--read-more {
	color: #999;
}


